.controlContainer{
    display:flex;
    gap:5px;
    margin-bottom: 10px;
}

.grid{
    width: 528px;
    height: 528px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    border: 1px solid black;
}